.App {
  text-align: center;
}

.App input {
  width: 250px;
  height: 30px;
  text-align: center;
  font-size: 15px;
}

.char-component {
  display: inline-block;
  padding: 16px;
  text-align: center;
  margin: 16px;
  border: 1px solid black;
}
